@media screen and (max-width: 420px) {
    #page-create-point header a span{
        margin-left: 12px;
        margin-right: 17px;
    }
    #page-create-point form {
        padding: 27px;
    }
}

@media (max-width: 900px){
    #page-home{
        background-position: 70vw;
    }

    #page-home .content {
        align-items: center;
        text-align: center;
    }

    #page-home header a {
        position: absolute;
        bottom: 48px;

        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main {
        align-items: center;
    }
    #page-search-results .cards {
        grid-template-columns: 1fr;
    }
    #page-search-results .cards {
        height: 250px;
    }
    #page-create-point .field-group{
        flex-direction: column;
    }
    #page-create-point .field-group .field + .field {
        margin-left: 0px;
    }
    /* Criar responsividade do grid(onde fica os quadrados 
    para selecionar os itens) para quando a tela fica pequena.
    Impedindo que o grid fique para fora
      */
    #page-create-point .items-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }

    
}

@media (max-height: 600px) {
    #page-home{
        background-position-y: 200px;
    }

}

@media (min-width: 1700px) {
    #page-home{
        background-position-x: 40vw;
    }
}

